.active{
    background-color: #000000;
    color: white !important;
    border-radius: 20px;
    padding: 1vh !important;
}

.img-fluid{
    border-radius: 20px;
    box-shadow: 0 0 10px #60ffb0;
}

p{
    margin-top: 3vh;
}

h2{
    margin-bottom: 3vh;
}

body{
    background-image: url("https://media0.giphy.com/media/l1J9xRxf0x8zMnA4g/giphy.gif") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card{
    background-color: #00000000 !important;
}

.hover-zoom{
    transform: scale(1);
    transition: 0.3s;
}

.hover-zoom:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.min-vh{
    min-height: 80vh;
}